footer {
  color: $text-primary;
  padding: 30px 0 0;
  font-size: 16px;
  line-height: 24px;
  .footer-info {
    color: $text-primary;
    font-size: 14px;
    line-height: 22px;
    .address {
      margin: 1rem 0;
    }
  }
  h3 {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 10px;
    font-weight: bold;
  }
  .form-email {
    position: relative;
    overflow: hidden;
    margin-bottom: 1rem;
    .btn-register {
      position: absolute;
      top: 0;
      right: 0;
      height: 39px;
      padding: 0 8px;
      background: $color-primary;
      color: #fff;
      font-size: 14px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-top-right-radius: 0.25rem;
      border-bottom-right-radius: 0.25rem;
    }
    input {
      font-size: 14px;
      padding: 8px 69px 8px 12px;
    }
  }
  ul {
    li {
      margin-bottom: 8px;
      a {
        color: $text-primary;
        font-size: 16px;
        line-height: 22px;
        &:hover {
          color: $color-primary;
        }
      }
    }
  }
  .socials {
    a {
      display: inline-block;
      margin-right: 1rem;
      color: $color-primary;
      i {
        font-size: 20px;
      }
    }
  }
  .footer-copyright {
    font-weight: 600;
  }
  @media (min-width: 768px) {
    padding: 50px 0 0;
  }

  @media (min-width: 768px) and (max-width: 991px) {
    [class*="col-"] {
      &:nth-of-type(2),
      &:nth-of-type(3) {
        @include col-w(50%);
      }
    }
  }
}
